@{
    ViewData["Title"] = "Course Information";
}
<h1>PROG8555 - Microsoft Web Technologies</h1>
<hr />

<dl class="row">
    <dt class="col-sm-3">Instructor</dt>
    <dd class="col-sm-9">Dr. Smith</dd>

    <dt class="col-sm-3">Schedule</dt>
    <dd class="col-sm-9">Monday & Wednesday, 10:00 AM - 11:30 AM</dd>

    <dt class="col-sm-3">Room</dt>
    <dd class="col-sm-9">Building A, Room 204</dd>

    <dt class="col-sm-3">Credits</dt>
    <dd class="col-sm-9">3</dd>

    <dt class="col-sm-3">Enrolled</dt>
    <dd class="col-sm-9">28 / 35</dd>

    <dt class="col-sm-3">Description</dt>
    <dd class="col-sm-9">
        This course covers ASP.NET Core MVC, including Razor views, controllers, 
        routing, middleware, filters, and Entity Framework Core for building modern web applications.
    </dd>
</dl>

<a asp-action="Index" class="btn btn-secondary">Back to Courses</a>
